.titre {
    font-size: 3rem;
    text-align: center;
    color: #333; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    position: relative;
    margin: 60px;
  }
  
  .titre::after {
    content: ''; /* pour le pseudo-élément */
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px; /* épaisseur de la ligne */
    background-color: #007bff; /* couleur de l'animation */
    transition: width 0.3s ease; /* animation de la largeur */
  }
  
  .titre:hover::after {
    width: 60%; /* largeur de l'animation au survol */
  }
  
@keyframes slide-color {
    0% {
      color: #007bff; /* couleur de départ */
      left: 0; /* position de départ */
    }
    100% {
      color: #ff4500; /* couleur finale */
      left: 100%; /* position finale */
    }
  }